NODE_ENV=development
PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/arions_db?schema=public"

JWT_SECRET="arions_super_secret_jwt_key_2026_production_grade"
JWT_EXPIRES_IN="1d"
REFRESH_TOKEN_SECRET="arions_refresh_token_secret_key_2026"
REFRESH_TOKEN_EXPIRES_IN="7d"

CORS_ORIGIN="http://localhost:5173"

# SMTP Email Settings
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="notificaciones@arions.tech"
SMTP_PASS="password_aplicacion"
SMTP_FROM="ARIONS Notificaciones <notificaciones@arions.tech>"
